@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --black-1: 22, 22, 22;
  --black-2: 30, 30, 30;
  --black-3: 30, 30, 30;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  --ring: 215 20.2% 65.1%;

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

* {
  color: rgb(var(--foreground-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--black-1));

  text-rendering: optimizeSpeed;
}

@layer base {
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  .animate-text {
    --delay: 120ms;
    --stagger: 0;
    animation: enter 0.6s both;
    animation-delay: calc(var(--stagger) * var(--delay));
  }

  .readable-text::after {
    @apply content-[""] absolute w-full h-[200px] transition-opacity duration-200 ease-[ease] delay-[0s] -bottom-16 z-0;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9),
      50%,
      rgba(0, 0, 0, 0)
    );
  }
}
